apiVersion: apps/v1
kind: Deployment
metadata:
  name: n8n
  namespace: n8n
spec:
  replicas: 1
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      app: n8n
  template:
    metadata:
      labels:
        app: n8n
    spec:
      containers:
      - image: docker.n8n.io/n8nio/n8n:2.4.4
        name: n8n
        imagePullPolicy: Always
        resources:
          requests:
            cpu: 25m
            memory: 200Mi
          limits:
            cpu: 500m
            memory: 500Mi
        volumeMounts:
        - name: data
          mountPath: /home/node/.n8n
        ports:
          - containerPort: 80
        env:
          - name: DB_SQLITE_POOL_SIZE
            value: '1'
          - name: GENERIC_TIMEZONE
            value: Europe/Paris
          - name: N8N_BLOCK_ENV_ACCESS_IN_NODE
            value: 'true'
          - name: N8N_DIAGNOSTICS_ENABLED
            value: 'false'
          - name: N8N_EDITOR_BASE_URL
            value: http://n8n.n8n.svc.cluster.local
          - name: N8N_GIT_NODE_DISABLE_BARE_REPOS
            value: 'true'
          - name: N8N_HIRING_BANNER_ENABLED
            value: 'false'
          - name: N8N_METRICS
            value: 'true'
          - name: N8N_METRICS_INCLUDE_QUEUE_METRICS
            value: 'true'
          - name: N8N_METRICS_INCLUDE_CACHE_METRICS
            value: 'true'
          - name: N8N_METRICS_INCLUDE_MESSAGE_EVENT_BUS_METRICS
            value: 'true'
          - name: N8N_PERSONALIZATION_ENABLED
            value: 'false'
          - name: N8N_PROTOCOL
            value: 'http'
          - name: N8N_RUNNERS_ENABLED
            value: 'true'
          - name: N8N_SECURE_COOKIE
            value: 'false'
          - name: N8N_VERSION_NOTIFICATIONS_ENABLED
            value: 'false'
          - name: WEBHOOK_URL
            value: http://n8n.n8n.svc.cluster.local/

      securityContext:
        fsGroup: 1000 
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: longhorn-pvc-n8n-data
