apiVersion: apps/v1
kind: Deployment
metadata:
  name: gaspar
spec:
  replicas: 1
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      app: gaspar
  template:
    metadata:
      labels:
        app: gaspar
    spec:
      containers:
      - image: ghcr.io/elanis/gaspar:3.4.2
        name: gaspar
        ports:
        - containerPort: 80
        imagePullPolicy: Always
        resources:
          requests:
            cpu: 25m
            memory: 250Mi
          limits:
            cpu: 500m
            memory: 500Mi
        env:
          - name: ASPNETCORE_HTTP_PORTS
            value: '80'

          - name: NODE_IP
            valueFrom:
              fieldRef:
                fieldPath: status.hostIP
          - name: OTEL_EXPORTER_OTLP_ENDPOINT
            value: http://$(NODE_IP):4317
      imagePullSecrets:
      - name: github
